<div class="card">
  <h2>
    <small>{{card.type}}</small>
    <span ng-show="viewMode()">{{card.title}}</span>
    <input ng-show="editMode()" ng-model="card.title">
  </h2>
  <p>
    <strong>a.k.a.</strong>
    <span ng-repeat="alias in card.aliases" ng-hide="alias == card.title">
      {{alias}}
    </span>

  <a ng-click="toggleMode()">toggle mode</a>

  <div ng-show="viewMode()">
    <p>Custom text: {{card.text}}</p>
    <p>Wiki text: {{card.wiki_text}}</p>
  </div>
  <div ng-show="editMode()">
    <textarea ng-model="card.text"></textarea>
  </div>

  <h3>Evidence</h3>
  <div ng-repeat="evidence in card.evidences">
    <nclipse-evidence story="story" card="card" evidence="evidence"></nclipse-evidence>
  </div>

</div>

