<div class="row">
  <div class="col-md-6">
    <div class="col-md-12">
    <button type="button" class="btn btn-default" ng-click="saveStory()" value="Analyze">Analyse</button>
  </div>
  <div class="col-md-12">
    <input class="input_title" ng-model="story.title" placeholder="15 People involved in corruption (you won't believe number seven)!">
    </div>
    <div class="col-md-12">
    <p>

      <textarea class="input_text" ng-model="story.text" rows='10'placeholder="On April 15, in the early hours of the morning..."></textarea>
    </p>
  </div>
    <!-- <input type="submit" ng-click="saveStory()" value="Analyze"> -->
  </div>
  <div class="col-md-6">
    <tabset justified="true">
      <tab heading="Cards">
        <div ng-repeat="card in cards">
          <nclipse-card story="story" card="card"></nclipse-card>
        </div>
      </tab>
      <tab heading="Discarded">
        <div ng-repeat="card in cards">
          <nclipse-card story="story" card="card"></nclipse-card>
        </div>
      </tab>
      <tab heading="New Card">
        <nclipse-new-card story="story"></nclipse-new-card>
      </tab>
    </tabset>
  </div>
</div>
