<div>
    <h1>Story editor</h1>
    <p>Editing story <%= _id %>
    <div id="story">
      <textarea id="text"><%= text %></textarea>
      <input type="submit" id="analyze" value="Analyze your inner shelf">
    </div>
    <div id="card-editor">
    </div>
</div>
