<!DOCTYPE html>
<html lang="en" ng-app="nclipse">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{config.PROJECT_DESCRIPTION}}</title>
        
        {% assets "css" %}
            <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet">
        {% endassets %}
        
        <link rel="shortcut icon" href="http://assets.pudo.org/img/opennews-favicon.ico" type="image/x-icon" />
    </head>
    <body ng-controller="AppCtrl" ng-cloak>
        <header>
        </header>

        <div class="container">
          <div ng-view></div>
        </div><!-- /.container -->

        <footer>
        </footer>
    </div>
    {% assets "js" %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% for path, tmpl in templates %}
        <script id="{{path}}" type="text/ng-template">{{tmpl|safe}}</script>
    {% endfor %}
</body>
</html>
