<!DOCTYPE html>
<html lang="en" ng-app="nclipse">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{config.PROJECT_DESCRIPTION}}</title>
        
        {% assets "css" %}
            <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet">
        {% endassets %}
        
        <link rel="shortcut icon" href="http://assets.pudo.org/img/opennews-favicon.ico" type="image/x-icon" />
        <link href='http://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:300italic,400,300' rel='stylesheet' type='text/css'>
    </head>
    <body ng-controller="AppCtrl" ng-cloak>
        <div id="page">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">newsclip.se</a>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class=""><a ng-click="newStory()">New Story</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </nav>

            <div class="container">
              <div ng-view></div>
            </div><!-- /.container -->
        </div>

        <footer>
            <div class="container">
                A hack from the CANVAS hackday at Al Jazeera, Doha. 
            </div>
        </footer>
    </div>
    {% assets "js" %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% for path, tmpl in templates %}
        <script id="{{path}}" type="text/ng-template">{{tmpl|safe}}</script>
    {% endfor %}
</body>
</html>
